[Unit]
Description=Check your TMdb TV and Movie watchlists
After=network.target

[Service]
ExecStart=$start
Restart=always
# User=root
# Group=root
# StandardOutput=syslog
# StandardError=syslog
Environment=PATH=/usr/bin:/usr/local/bin:/usr/local
Environment=NODE_ENV=production
# WorkingDirectory=$dir

[Install]
WantedBy=multi-user.target
