/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

body {
  padding-top: 5rem;
}

.main-nav .router-link-active {
  @apply .text-indigo-darkest .bg-grey-lighter;
}

.btn {
  @apply .bg-indigo .text-white .py-2 .px-4 .font-semibold .rounded .border-b-2 .border-indigo-darker;
}

.btn:hover {
  @apply .bg-indigo-dark;
  outline: none;
}

.btn:active, .btn:focus {
  outline: none;
}

.btn:active {
  @apply .border-0 .shadow-inner;
  margin-top: 2px;
}

p {
  @apply .text-black .mb-4;
}

.torrent-card {
  @apply .bg-white .p-6 .mb-4 .shadow;
}

.torrent-info-badge {
  @apply .float-left .text-xs .text-blue-dark .leading-none .rounded-sm .block .py-1 .px-2 .mr-2 .border .border-blue;
}

.tabs-component-tab a {
  @apply .text-grey-darkest .no-underline .block .text-center .bg-grey-light .px-4 .py-2 .mr-2 .mb-2;
  outline: none;
}

.tabs-component-tabs {
  @apply .list-reset .flex .flex-row .mt-4;
}

.table {
  @apply .w-full;
}

.table th {
  @apply .text-left .py-1 .pr-3 .border-b;
}

.table td {
  @apply .py-1;
}

label {
  @apply .inline-block .text-sm .mb-1;
}

.input-control {
  @apply .bg-white .block .p-2 .mb-3 .border .border-grey .rounded .w-full;
}

.input-control:focus {
  @apply .border-indigo;
  outline: none;
}

.input-control:active {
  outline: none;
}

select.input-control {
  @apply .appearance-none .pr-8 .mb-0;
}

.input-control[disabled] {
  @apply .bg-grey-light .text-grey-dark .cursor-not-allowed;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */